@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.banner1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding: 10px;
    background-color: black;
    text-transform: uppercase;
}

.active {
    color: red;
}

.banner2 {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        gap: 20px;
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

.menu-central {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size:x-large

   
}

.menu-central li a {
    text-decoration: none;
}

.datos {
    display: flex;
    gap: 20px;
}

.buscador {
    display: flex;
    gap: 5px;
}

/* estilos para hoja productos */
.element-1 {
    background-color: aqua;
}
.element-2 {
    background-color: brown;
}
.element-3 {
    background-color: chartreuse;
}
.element-4 {
    background-color: chocolate;
}